


ion-content {
 --background: rgba(000,000,000,.9); text-align: center;
 margin-top: 3vh; z-index: 1000;
}
.menu-screen ion-grid{margin-right:.4rem; margin-left: .4rem; margin-top: 2vh;}
.bl-widget{color: #fff;    margin: 2.4vw;}
.bl-icon {
    padding: 5vh 14px;
    font-size: 2.1rem;
}
.bl-txt{    padding: 16px 0px; }
.redblock{background:#e24242}
.blueblock{background: #2685d5;}
.purpblock{background: #a162e4;}
.greenblock{background: #34b08b;}

.redblock .bl-txt{    border-top: 1px solid rgba(000,000,000,.2);}
.blueblock .bl-txt{   border-top: 1px solid rgba(000,000,000,.3);}
.purpblock .bl-txt{   border-top: 1px solid rgba(000,000,000,.3);}
.greenblock .bl-txt{  border-top: 1px solid rgba(000,000,000,.3);}



.vid-container{    position: fixed;
    width: 100%;
    height: 100%; left: 0px;
    top: 0px;}
    .video-block{width: 100%;
    height: 100%;}
    .video-item{    width: 100%;
    height: 100%;
    object-fit: cover;}
//   .main-logo{text-align: center;}
//   .main-logo img{margin-top: 10vh; width: 36vw;}

  .float-camera{    position: fixed;
    bottom: 9px;
    left: 50%;
    margin-left: -35px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background: #a2a2a2;
    text-align: center;
    line-height: 105px;}
.ppmodal-skin{    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0px; text-align: initial;}
    .popmodal{      width: 320px;
        padding: 34px 21px;
        background-color:#34b08b;
        margin: 38vh auto 10px;
        box-shadow: 0px 0px 5px 0px #653179; position: absolute;
    z-index: 10000;
    top: 0px;
    left: 50%;
    margin-left: -160px;}
.pop-action-btn{background: #1e8e6c; color: #fff;     padding: 12px 28px;
    border-radius: 4px;}
.cancel-btn{position: absolute;
    right: 2px;
    margin-top: 2px;
    padding: 10px;
    opacity: .7;}
.modalact span{
                display: inline-block;
                font-size: 15px;
                cursor: pointer;}
       .popmodal h2 {color: #fff;
    padding: 0px 0px 12px 0px;
    margin:-5px 0 0 0px;}

        .popmodal input{width: 100%;
            height: 40px;
            background: #fff;;
            border: 0px;
            padding: 10px;
            font-weight: bold;
        color:black;}

            .modalact{text-align: center; color: #fff;     margin-top: 20px;
                margin-bottom: -10px;  position: relative;}

            

    .modal-wrapper.sc-ion-modal-md{width: 100%;}
    @media only screen and (min-height: 600px) and (min-width: 768px){.sc-ion-modal-md-h{    width: 100%!important;
        --height: 100%;}}