<ion-content>
  <!-- Filters -->
  <!-- <ion-item>
    <ion-select id="filter" placeholder="Filters" name="filter" (ionChange)="onChange($event)">
      <ion-select-option selected value="none">None</ion-select-option>
      <ion-select-option value="blur">Blur</ion-select-option>
      <ion-select-option value="grayscale ">Grayscale</ion-select-option>
      <ion-select-option value="invert">Invert</ion-select-option>
      <ion-select-option value="sepia">Sepia</ion-select-option>
      <ion-select-option value="brightness ">Brightness</ion-select-option>
      <ion-select-option value="contrast">Contrast</ion-select-option>
      <ion-select-option value="huerotate">Huerotate</ion-select-option>
      <ion-select-option value="opacity">Opacity</ion-select-option>
      <ion-select-option value="saturate">Saturate</ion-select-option>
    </ion-select>
  </ion-item> -->

  <ion-fab vertical="top" horizontal="start" slot="fixed" [hidden]="!IsWebRTCSupported">
    <ion-fab-button color="light" color="light" class="fabicon" style="margin-top: 10px; " (click)="switchLight()">
      <ion-icon style="color: #731377;" name="{{isLightOn?'flash-off-outline':'flash-outline'}}"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-fab vertical="top" horizontal="end" slot="fixed" style="color: #731377;">
    <ion-fab-button color="light" class="fabicon" style="margin-top: 10px; color: #731377;">
      <ion-icon style="color: #731377;" name="ellipsis-horizontal"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="bottom">
      <ion-fab-button color="light" (click)="GoToMyFolders()" [hidden]=!IsRegisteredUser data-desc="View Nearby">
        <ion-img src="../assets/folders2.png"></ion-img>

      </ion-fab-button>
      <ion-fab-button color="light" (click)="presentJoinNearbyPrompt()" [hidden]=!IsRegisteredUser
        data-desc="Join Nearby">
        <ion-img src="../assets/joinnearable.png"></ion-img>

      </ion-fab-button>
      <ion-fab-button color="light" (click)="presentAddFolderPrompt()" [hidden]=!IsRegisteredUser
        data-desc="Create Nearby">
        <ion-img src="../assets/createnearby.png"></ion-img>


      </ion-fab-button>
      <ion-fab-button color="light" (click)="GoToGallery()" [hidden]=IsRegisteredUser data-desc="View Gallery">
        <ion-img src="../assets/folders2.png"></ion-img>

      </ion-fab-button>
      <ion-fab-button color="light" (click)="GoToMapView()" data-desc="Map View">

        <ion-img src="../assets/viewmap-joinearables.png"></ion-img>
      </ion-fab-button>
      <ion-fab-button color="light" (click)="Logout()" data-desc="Logout">
        <ion-icon style="color: #731377; font-size: 1.5rem;" name="log-out-outline"></ion-icon>

      </ion-fab-button>

    </ion-fab-list>
  </ion-fab>


  <ion-fab vertical="bottom" horizontal="start" slot="fixed">
    <ion-fab-button color="light" color="light" class="fabicon">
      <ion-icon for="camera-file-input" style="color: #731377; font-size: 1.8rem;" name="image-outline"></ion-icon>
      <input class="file-skin" id="camera-file-input" type="file" (change)="loadFile($event)" accept="image/*">
    </ion-fab-button>

  </ion-fab>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed" [hidden]="!IsWebRTCSupported">
    <ion-fab-button color="light" color="light" class="fabicon" (click)="switchCamera()">

      <ion-icon style="color: #731377; font-size: 1.9rem;" name="camera-reverse"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-fab vertical="bottom" horizontal="center" slot="fixed" class="camera-control">

    <ion-fab-button (click)="captureImage()" [hidden]="!IsWebRTCSupported" color="light" color="transparent"
      class="fabicon">
      <i class="material-icons">radio_button_checked</i>
    </ion-fab-button>

    <ion-fab-button color="light" [hidden]="IsWebRTCSupported" color="transparent" class="fabicon">
      <i for="camera-file-input-1" style="color: #731377;" class="material-icons no-cam">radio_button_checked</i>
      <input class="file-skin size-60" id="camera-file-input-1" type="file" (change)="loadFile($event)"
        accept="image/*;capture=camera">
    </ion-fab-button>

  </ion-fab>

</ion-content>


<div id="container" class="vid-container">
  <div style="text-align: center; vertical-align: middle; margin-top: 40vh;" [hidden]="IsWebRTCSupported">
    Some of the feature does not work in this Browser/Device. Try changing Brower chrome/Safari
  </div>
  <!--     Camera Viewer Video Container -->
  <div id="vid_container" class="video-block" [hidden]="!IsWebRTCSupported">
    <video [class]="classVariable" id="camera-screen-video" autoplay playsinline></video>
    <div id="video_overlay"></div>
  </div>
  <!--     All Buttons -->

</div>

<img alt="your-img" [hidden]="!IsWebRTCSupported">