ion-content {
  --background:transparent; 
      z-index: 1000;
}

// Filters
.none {filter: none;}
.blur {filter: blur(4px);}
.brightness {filter: brightness(0.30);}
.contrast {filter: contrast(180%);}
.grayscale {filter: grayscale(100%);}
.huerotate {filter: hue-rotate(180deg);}
.invert {filter: invert(100%);}
.opacity {filter: opacity(50%);}
.saturate {filter: saturate(7);}
.sepia {filter: sepia(100%);}
.shadow {filter: drop-shadow(8px 8px 10px green);}

.vid-container{    position: fixed;
    width: 100%;
    height: 100%; left: 0px;
    top: 0px;}
    .video-block{width: 100%;
    height: 100%;}
    .video-item{    width: 100%;
    height: 100%;
    object-fit: cover;}