ion-content {
  --background:rgba(000,000,000,.5); 
      z-index: 1000;
}

.cs-popmodal{background: #231b25;
    text-align: center;
    padding: 15px;
    max-width: 300px;
    
    margin: 0px auto;
    margin-top: 20vh;
   color: #fff;}
 .cs-popmodal label{text-align: left;
    display: block;
    margin-bottom: 21px;
    font-size: 1rem; line-height: 28px;}
    .area{font-size: 0.9rem;
    background: #332536;
    padding: 10px;
    line-height: 24px;
    border-radius: 4px;}
    .area strong{color:#ffdd00;}
    .btnbar{margin: 20px 0px;}
    .btnbar button{background: transparent; color:#fff; font-size: 1rem; padding: 10px 10px;}
    .ysbtn{color: red!important;}
    .nobtn{color: #ffdd00!important;}