<ion-content>

  <div class="cs-popmodal">
    <label>Would you like to buy a Geo Gift and Save it at the following business?</label>

    <div class="area"><Strong>{{PlaceName}}</Strong>- {{PlaceAddress}}</div>
    <div class="btnbar"><button (click)="YesClick()" class="ysbtn">Yes</button>|<button class="mrbtn">Show me
        More</button>|<button class="nobtn" (click)="cancel()">Cancel</button></div>
  </div>

</ion-content>