ion-content {
  --background:#000; 
      z-index: 1000;
}
.th-head{padding: 30px; color: #fff;  margin-top: 20px;} 
.mr-left{display: flex
    ;}
.mr-left img{width: 100px;}
.mr-left h2{    display: inline-block;
    vertical-align: middle;
    padding-top: 16px;
    font-size: 33px;
    padding-left: 20px;}
    .th-option{text-align: center
        ; margin-top: 5vh;}
        .inbox{margin-bottom: 10vh;}
        .inbox img, .chat img{width: 118px;}
        .pick{font-size: 2.3rem;
    color: #fff;
    padding: 30px;}