<ion-content>

  <div class="clearfix th-head">
    <div class="mr-left">
      <img src="./assets/gift.png">
      <h2>Thank You!</h2>
    </div>

  </div>

  <div class="pick">Pick a delivery option:</div>
  <div class="th-option">
    <div class="inbox">
      <img src="./assets/inbox.png">
    </div>

    <div class="chat">
      <img src="./assets/chat.png">
    </div>

  </div>

  <ion-fab style="margin-bottom: 15px;" vertical="bottom" horizontal="center" slot="fixed" class="camera-control">

    <ion-fab-button color="light" color="transparent" class="fabicon">
      <i for="camera-file-input-1" class="material-icons no-cam">radio_button_checked</i>
      <input class="file-skin size-60" id="camera-file-input-1" type="file" accept="image/*;capture=camera">
    </ion-fab-button>

  </ion-fab>

  <ion-fab vertical="bottom" style="margin-bottom: 10px;" horizontal="end" slot="fixed">
    <ion-fab-button color="light">
      <ion-icon style="color: #731377; font-size: 1.5rem;" name="log-out-outline"></ion-icon>

    </ion-fab-button>
  </ion-fab>

</ion-content>