
// ion-icon {
//     font-size: 25px;
// }

// .main-logo{text-align: center;}
// .main-logo img{margin-top: 10vh; width: 47vw;}

// .sc-ion-searchbar-md-h{background: rgba($color: #000000, $alpha: .40); 
//     color: #fff;
//     --box-shadow: initial;}
//     .search-block{position: relative; margin: 0px 35px;}
//     .search-block span{ color: #fff;
//         position: absolute;
//         right: -31px;
//         font-size: 2rem;
//         top: 0px;}
//         .search-block span img{width: 47px;}
//  ion-icon.searchbar-search-icon.sc-ion-searchbar-md.md.hydrated, .searchbar-search-icon.sc-ion-searchbar-md {
//     color: #fff!important;
//     opacity: .3;
// }
// .sc-login{padding: 20px; text-align: center ; color: #fff; margin-top: 1rem;}
//     .cs-search input{width: 100%;
//         padding: 16px;
//         box-sizing: border-box;
//         background: rgba(0, 0, 0, 0.1);
//         border: 0px;
//         color: #fff;
//         height: 46px;
//         padding-left: 40px;
//         color: #fff;}
//         .cs-search input::placeholder { 
//   color: white;
//   opacity: 1; 
// }

// .cs-search input:-ms-input-placeholder,.cs-search input::-ms-input-placeholder { 
//   color: white;
// }

//         .cs-search{position: relative;}
//         .cs-search .search-ot{position: absolute;
//             color: #fff;
//             top: 10px;
//             left: 9px;
//             font-size: 1.4rem;opacity: .5;}
//             .exit-outline{    position: absolute;
//                 right: 7px;
//                 color: #fff;
//                 font-size: 2rem;
//                 top: 6px;}
// .google, .apple{     text-align: center;
//     height: 42px;
//     max-width: 66vw;
//     margin: 15px auto;
//     }

//     .google ion-icon, .apple ion-icon{font-size: 1.7rem;}
//     .google{    --background: #ef1b03;}
// .ac-btn{    text-align: center;}

//     .buttons {
    
   
//     position: relative;
// }

// .label {   
//     font-size: 22px;
// }
// .folderSearch{
//     border:1px solid grey;
// }
// hr {
//     color:grey;
//     background-color: grey;
// }

// ion-content {
//     --background: #702f8a; 
//   }
// h3{font-size: 1.3rem;
//     color: #fff;
//     text-align: center;
//     margin-top: 5vh;
//     margin-bottom: 1.4rem;}




app-google-map {

    display: block;
    width: 100%;
    height: 100%;
}
.login-button{
    position: absolute;
    bottom: 50px;
    left: 50px;
    right: 50px;
}

.google{    --background: #ef1b03;}