<!-- <ion-content class="login-screen">

  <div class="main-logo"><img src="../assets/logo.svg"></div>
  <h3>Join a Nearable</h3>
  <div class="search-block">
    <div class="buttons">
      <div class="cs-search">
        <ion-icon class="search-ot" name="search-outline"></ion-icon>
        <input [(ngModel)]="FolderUniqueId" (search)="SearchByFolderId(FolderUniqueId)" type="search"
          placeholder="Enter folder id">
        <ion-icon class="exit-outline" name="exit-outline" (click)="SearchByFolderId(FolderUniqueId)"></ion-icon>

      </div>


    </div>


  </div>

  <div class="sc-login">Or Login</div>
  <div class="buttons ac-btn">

    <ion-button expand="block" (click)="GoogleLogin()" *ngIf="!userProfile" class="google">
      <ion-icon slot="icon-only" name="logo-google"></ion-icon>
    </ion-button>


    <ion-button color="dark" expand="block" class="apple" (click)="AppleLogin()">
      <ion-icon slot="icon-only" name="logo-apple"></ion-icon>
    </ion-button>



  </div>
</ion-content> -->




<ion-content>
  <app-google-map (onClickViewFolder)="onClickViewFolder($event)" (onClickCreateGioGift)="onClickCreateGioGift($event)">

  </app-google-map>
  <div id="infowindow-content">
    <img id="place-icon" src="" height="16" width="16" />
    <span style="font-weight: bold;
    margin-bottom: 1px;
    display: inline-block;
    padding: 4px 0px;
    color: #861e9a;
    font-size: .9rem;" id="place-name" class="title"></span>
    <span style="line-height: 21px;
    padding: 12px 0px;
    display: block;color: black;" id="place-address"></span>
    <ion-button id="createNearby" expand="block" class="google">
      Create Geo Gift
    </ion-button>
  </div>
  <div class="login-button">
    <ion-button expand="block" (click)="GoogleLogin()" *ngIf="!IsRegisteredUser" class="google">
      <ion-icon slot="icon-only" name="logo-google"></ion-icon>
    </ion-button>
    <ion-button (click)="goBackBtnClick()" expand="block" *ngIf="IsRegisteredUser" class="google">
      Home
    </ion-button>
  </div>
</ion-content>