ion-content {
  --background:#000; 
      z-index: 1000;
}


.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
.mr-head{padding: 20px;}
.mr-left{float: left;}
.mr-left img{width: 74px;}
.mr-right{float: right; color: #fff; text-align: right;}
.mr-right h2{font-size: 1.7rem;}
.mr-right p{font-size: 1.3rem;
    padding: 0px;
    margin: 0px;}
.ellipsis{ white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;}
  .mr-gift{width: 83px; position: absolute; left: 0px;     top: -22px;}
  .gift-list{ padding: 20px; }
  .gift-list ul {margin: 0px; padding: 0px; position: relative;}
  .gift-list ul  li a{position: absolute; right: 10px;}
  .price{text-align: left;
    color: #fff;
    font-size: 20px;
    font-size: 1.7rem;
   margin-top: 8px;
    padding-left: 124px;}

  .orange-btn{
          padding:12px 15px 11px 52px;
    color: #fff;
    text-decoration: none;
    font-size: 1.4rem;
    border-radius: 4px;
background: #ff8800; /* Old browsers */
background: -moz-linear-gradient(left,  #ff8800 0%, #fe6402 51%, #fe4400 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  #ff8800 0%,#fe6402 51%,#fe4400 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  #ff8800 0%,#fe6402 51%,#fe4400 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff8800', endColorstr='#fe4400',GradientType=1 ); /* IE6-9 */
}
  .orange-btn img{position: absolute;
    width: 35px;
    left: 12px;
    top: 7px;}

   .gift-list li {
    margin: 103px 0px;
    display: flex;
    position: relative;
}