<!-- <ion-header>
  <ion-toolbar>
    <ion-title>merchant</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>

  <div class="clearfix mr-head">
    <div class="mr-left">
      <img src="./assets/shop.png">
    </div>
    <div class="mr-right">
      <h2 class="ellipsis">Merchat Name</h2>
      <p class="ellipsis">Address,City,State</p>
    </div>
  </div>


  <div class="gift-list">
    <ul>
      <li><img class="mr-gift" src="/assets/gift.png">
        <div class="price">$15.00</div> <a class="orange-btn" href=""><img src="./assets/cart.png"> BUY NOW</a>
      </li>

      <li><img class="mr-gift" src="/assets/gift.png">
        <div class="price">$15.00</div> <a class="orange-btn" href=""><img src="./assets/cart.png"> BUY NOW</a>
      </li>

      <li><img class="mr-gift" src="/assets/gift.png">
        <div class="price">$15.00</div> <a class="orange-btn" href=""><img src="./assets/cart.png"> BUY NOW</a>
      </li>

    </ul>
  </div>


  <ion-fab style="margin-bottom: 15px;" vertical="bottom" horizontal="center" slot="fixed" class="camera-control">

    <ion-fab-button color="light" color="transparent" class="fabicon">
      <i for="camera-file-input-1" class="material-icons no-cam">radio_button_checked</i>
      <input class="file-skin size-60" id="camera-file-input-1" type="file" accept="image/*;capture=camera">
    </ion-fab-button>

  </ion-fab>

  <ion-fab vertical="bottom" style="margin-bottom: 10px;" horizontal="end" slot="fixed">
    <ion-fab-button color="light">
      <ion-icon style="color: #731377; font-size: 1.5rem;" name="log-out-outline"></ion-icon>

    </ion-fab-button>
  </ion-fab>

</ion-content>