ion-content {
    --background: #7c3a96; 
  }

  ion-header ion-toolbar {
    --background: #702f8a; color: #fff;;
  }

 

  .itm-list{margin: 10px;
    padding: 0px; }

    .itm-list li{    padding: 10px;
        list-style: none;
        color: #fff;
        border-bottom: 1px solid #9d66b3;
        min-height: 45px;
        line-height: 27px}

        .selected-folder {background-color:yellow;}
.non-selected-folder {background-color:pink;}