<ion-header>
  <ion-toolbar>
    <ion-title>Select Folder</ion-title>
    <ion-buttons slot="primary">
      <ion-button [disabled]=!isAnyFolderSelected() color="white" (click)="SelectFolder()">
        Ok
      </ion-button>
      <ion-label>All&nbsp;</ion-label>
      <ion-checkbox [(ngModel)]="AllCheckbox" (ionChange)="SelectAllFolder()">
      </ion-checkbox>&nbsp;&nbsp;

    </ion-buttons>

    <ion-buttons slot="secondary">
      <ion-button color="white" (click)="CancelSave()">
        Cancel
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-item (press)="longPress(folder)" size="12" *ngFor="let folder of folders; index as position">
      <ion-label>{{folder.Name}}</ion-label>
      <ion-checkbox slot="end" [(ngModel)]="folder.isSelected"></ion-checkbox>
    </ion-item>
  </ion-list>

</ion-content>