ion-content {
  --background:#ffff; 
      z-index: 1000;
}
.gf-title{font-size: 1.5rem;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
color: black;}
.product-slide{    padding: 4vh;
    text-align: center;}
.product-slide img{width: 100px;}
 ion-segment{
      
     --color:#fff;
    --background:#ccc;
    border-radius: 0px; margin: 10px;
  }

  ion-segment-button {
   --color-checked:#fff;
  --color:#000;
   --background-checked:#000;
   --indicator-color : transparent!important; 
}
.cs-form label{padding: 7px 0px;
    font-size: .7rem;
    display: block; text-transform: uppercase;color: #53185d;
    font-weight: bold;}
    .cinfo{font-size: .8rem; text-align: left;color: black;}
    .cinfo label{display: block; line-height: 25px; padding: 6px 0px;}
    .camount{font-size: .8rem; color: #53185d; text-align: right;}
    .camount label{display: block; padding: 6px 0px;}
 .cs-form ion-input[type="text"]{    height: 40px;
    line-height: 40px;
    padding: 10px;
    border: 2px solid #ddd;
    width: 100%;
    box-sizing: border-box;
    border-radius: 4px;
color:black}
 .cs-form ion-textarea{    height: 60px;
   
    padding: 10px;
    border: 2px solid #ddd;
    width: 100%;
    box-sizing: border-box;
    border-radius: 4px;
color: black;}

    .pl-btn{--background: #8f1fa2;
    font-size: 1.2rem;
    height: 42px;}
    .ion-padding{text-align: center;}
    span.error.ion-padding {
    color: red;
    font-size: 12px;
    padding: 0;
}