<ion-content>
  <h1 class="gf-title">Pick a Gift Pack</h1>

  <div class="product-slide">
    <img src="../assets/gift.png">
  </div>

  <form [formGroup]="ionicForm" (ngSubmit)="Proceed()" novalidate>

    <ion-segment scrollable mode="ios" (ionChange)="segmentChanged($event)" formControlName="Amount">
      <ion-segment-button value="10">
        <ion-label>$10:00</ion-label>
      </ion-segment-button>
      <ion-segment-button value="20">
        <ion-label>$20:00</ion-label>
      </ion-segment-button>

      <ion-segment-button value="25">
        <ion-label>$25:00</ion-label>
      </ion-segment-button>


      <ion-segment-button value="30">
        <ion-label>$30:00</ion-label>
      </ion-segment-button>


      <ion-segment-button value="custom">
        <ion-label>Custom</ion-label>
      </ion-segment-button>

    </ion-segment>

    <ion-grid>

      <ion-row>
        <ion-col size="12">
          <div class="cs-form" [hidden]="isCustomAmountHidden">
            <label>Amount</label>
            <ion-input type="text" formControlName="Amount"></ion-input>

          </div>
          <span class="error ion-padding" *ngIf="isSubmitted && control.Amount.errors?.required">
            Amount is required.
          </span>
          <span class="error ion-padding" *ngIf="isSubmitted && control.Amount.errors?.pattern">
            Amount must be numeric.
          </span>
        </ion-col>
        <ion-col size="6">
          <div class="cs-form">
            <label>Your Name</label>
            <ion-input type="text" formControlName="CardHolderName"></ion-input>
            <span class="error ion-padding" *ngIf="isSubmitted && control.CardHolderName.errors?.required">
              Name is required.
            </span>
            <span class="error ion-padding" *ngIf="isSubmitted && control.CardHolderName.errors?.minlength">
              Name should be min 2 chars long.
            </span>
          </div>
        </ion-col>
        <ion-col size="6">
          <div class="cs-form">
            <label>Your Email</label>
            <ion-input type="text" formControlName="CardHolderEmail"></ion-input>
            <span class="error ion-padding" *ngIf="isSubmitted && control.CardHolderEmail.errors?.required">
              Email is required.
            </span>
            <span class="error ion-padding" *ngIf="isSubmitted && control.CardHolderEmail.errors?.pattern">
              Invalid Email
            </span>
          </div>
        </ion-col>

        <ion-col size="12">
          <div class="cs-form">
            <label>Personal Message</label>
            <ion-textarea formControlName="PersonalMessage"></ion-textarea>
            <span class="error ion-padding" *ngIf="isSubmitted && control.PersonalMessage.errors?.required">
              Message is required.
            </span>
          </div>
        </ion-col>


        <ion-col size="12">
          <div class="cs-form">
            <label>Credit Card </label>
            <ion-input type="text" formControlName="CardNumber"></ion-input>
            <span class="error ion-padding" *ngIf="isSubmitted && control.CardNumber.errors?.required">
              Card is required.
            </span>
            <span class="error ion-padding"
              *ngIf="isSubmitted && (control.CardNumber.errors?.maxlength||control.CardNumber.errors?.minlength ||control.CardNumber.errors?.pattern)">
              Invalid Card Number
            </span>
          </div>
        </ion-col>
        <ion-col size="4">
          <div class="cs-form">
            <label>Exp Month</label>
            <ion-input type="text" formControlName="ExpiryMonth"></ion-input>
            <span class="error ion-padding" *ngIf="isSubmitted && control.ExpiryMonth.errors?.required">
              Month is required.
            </span>
            <span class="error ion-padding"
              *ngIf="isSubmitted && (control.ExpiryMonth.errors?.maxlength||control.ExpiryMonth.errors?.minlength)">
              Month should be min 2 digit long.
            </span>
          </div>
        </ion-col>
        <ion-col size="4">
          <div class="cs-form">
            <label>Exp Year</label>
            <ion-select name="year" id="year" style="border: 2px solid #ddd;border-radius: 4px;color:black"
              formControlName="ExpiryYear">
              <ion-select-option value="18">2018</ion-select-option>
              <ion-select-option value="19">2019</ion-select-option>
              <ion-select-option value="20">2020</ion-select-option>
              <ion-select-option value="21">2021</ion-select-option>
              <ion-select-option value="22">2022</ion-select-option>
              <ion-select-option value="23">2023</ion-select-option>
              <ion-select-option selected value="24">2024</ion-select-option>
              <ion-select-option value="25">2025</ion-select-option>
              <ion-select-option value="26">2026</ion-select-option>
              <ion-select-option value="27">2027</ion-select-option>
              <ion-select-option value="28">2028</ion-select-option>
              <ion-select-option value="29">2029</ion-select-option>
              <ion-select-option value="30">2030</ion-select-option>
            </ion-select>
            <span class="error ion-padding" *ngIf="isSubmitted && control.ExpiryYear.errors?.required">
              Expiry Year is required.
            </span>

          </div>
        </ion-col>

        <ion-col size="4">
          <div class="cs-form">
            <label>CVV </label>
            <ion-input type="text" formControlName="CCV"></ion-input>
            <span class="error ion-padding" *ngIf="isSubmitted && control.CardHolderEmail.errors?.required">
              CCV is required.
            </span>
            <span class="error ion-padding"
              *ngIf="isSubmitted && (control.CCV.errors?.minlength || control.CCV.errors?.pattern)">
              Invalid CCV
            </span>
          </div>
        </ion-col>


      </ion-row>
      <ion-row>
        <ion-col size="12">
          <h3 style="color: black;">
            Recevier Information
          </h3>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6">
          <div class="cs-form">
            <label>First Name</label>
            <ion-input type="text" formControlName="RecFirstName"></ion-input>
            <span class="error ion-padding" *ngIf="isSubmitted && control.RecFirstName.errors?.required">
              First Name is required.
            </span>
            <span class="error ion-padding" *ngIf="isSubmitted && control.RecFirstName.errors?.minlength">
              First Name should be min 2 chars long.
            </span>
          </div>
        </ion-col>
        <ion-col size="6">
          <div class="cs-form">
            <label>last Name</label>
            <ion-input type="text" formControlName="RecLastName"></ion-input>
            <span class="error ion-padding" *ngIf="isSubmitted && control.RecLastName.errors?.required">
              Last Name is required.
            </span>
            <span class="error ion-padding" *ngIf="isSubmitted && control.RecLastName.errors?.minlength">
              Last Name should be min 2 chars long.
            </span>
          </div>
        </ion-col>
        <ion-col size="12">
          <div class="cs-form">
            <label>Address</label>
            <ion-textarea type="text" formControlName="RecAddress"></ion-textarea>
            <span class="error ion-padding" *ngIf="isSubmitted && control.RecAddress.errors?.required">
              Address is required.
            </span>
            <span class="error ion-padding" *ngIf="isSubmitted && control.RecAddress.errors?.minlength">
              Address should be min 2 chars long.
            </span>
          </div>
        </ion-col>
        <ion-col size="6">
          <div class="cs-form">
            <label>Country</label>
            <ion-input type="text" formControlName="RecCountry"></ion-input>
            <span class="error ion-padding" *ngIf="isSubmitted && control.RecCountry.errors?.required">
              Country is required.
            </span>
            <span class="error ion-padding" *ngIf="isSubmitted && control.RecCountry.errors?.minlength">
              Country should be min 2 chars long.
            </span>
          </div>
        </ion-col>
        <ion-col size="6">
          <div class="cs-form">
            <label>City</label>
            <ion-input type="text" formControlName="RecCity"></ion-input>
            <span class="error ion-padding" *ngIf="isSubmitted && control.RecCity.errors?.required">
              City is required.
            </span>
            <span class="error ion-padding" *ngIf="isSubmitted && control.RecCity.errors?.minlength">
              City should be min 2 chars long.
            </span>
          </div>
        </ion-col>
        <ion-col size="6">
          <div class="cs-form">
            <label>State</label>
            <ion-input type="text" formControlName="RecState"></ion-input>
            <span class="error ion-padding" *ngIf="isSubmitted && control.RecState.errors?.required">
              State is required.
            </span>
            <span class="error ion-padding" *ngIf="isSubmitted && control.RecState.errors?.minlength">
              State should be min 2 chars long.
            </span>
          </div>
        </ion-col>
        <ion-col size="6">
          <div class="cs-form">
            <label>Postal Code</label>
            <ion-input type="text" formControlName="RecPostalCode"></ion-input>
            <span class="error ion-padding" *ngIf="isSubmitted && control.RecPostalCode.errors?.required">
              Postal Code is required.
            </span>
            <span class="error ion-padding"
              *ngIf="isSubmitted && (control.RecPostalCode.errors?.pattern || control.RecPostalCode.errors?.minlength)">
              Postal Code should be min 3 chars long.
            </span>
          </div>
        </ion-col>


      </ion-row>
      <ion-row>
        <ion-col size="6">
          <div class="cinfo">
            <label>{{PlaceInfo}}</label>
          </div>
        </ion-col>

        <ion-col size="6">
          <div class="camount">
            <label>Gift Amount :${{control.Amount.value}}</label>
            <label>Nearable Fee :${{ServiceCharge}}</label>
            <label>Total Amount :${{getTotalAmount}}</label>
          </div>
        </ion-col>
      </ion-row>

    </ion-grid>


    <div class="ion-padding">
      <ion-button class="pl-btn" type="submit">Place Order</ion-button>
    </div>
  </form>
</ion-content>