<ion-content class="menu-screen">
  <!-- <div class="main-logo"><img src="../assets/logo.svg"></div> -->



  <div class="logo-alpha"><img src="../assets/logo1.svg"></div>



  <ion-grid>
    <ion-row>
      <ion-col size="6">
        <div class="bl-widget redblock">
          <div class="bl-icon">
            <ion-icon style="width: 50px;height: 50px;" name="compass-outline"></ion-icon>
          </div>
          <div class="bl-txt">
            <span>Live Map</span>
          </div>
        </div>
      </ion-col>
      <ion-col size="6">
        <div class="bl-widget blueblock">
          <div class="bl-icon">
            <ion-icon style="width: 50px;height: 50px;" name="image-outline"></ion-icon>
          </div>
          <div class="bl-txt">
            <span>Gallery</span>
          </div>
        </div>
      </ion-col>

      <ion-col size="6">
        <div class="bl-widget purpblock">
          <div class="bl-icon">
            <img style="width: 50px;height: 50px;" src="assets/add nearby.png" />
          </div>
          <div class="bl-txt">
            <span>Add Nearable</span>
          </div>
        </div>
      </ion-col>
      <ion-col size="6">
        <div class="bl-widget greenblock">
          <div class="bl-icon">
            <img style="width: 50px;height: 50px;" src="assets/joinnearby.png" />
          </div>
          <div class="bl-txt">
            <span>Join a Nearable</span>
          </div>
        </div>
      </ion-col>


    </ion-row>
  </ion-grid>




  <div class="ppmodal-skin">
    <div class="popmodal">
      <h3>Create a Nearby</h3>
      <input type="text" placeholder="Enter name" [(ngModel)]="folderName">

      <div>
        <ion-toggle color="primary" [(ngModel)]="geoFenceEnabled" (ionChange)="geoFenceEnabledChanged()"></ion-toggle>
        <ion-label style="margin: 12px 0px;    vertical-align: top;color:white;    display: inline-block;">Enable
          Geofence
        </ion-label>
        <ion-label [hidden]="!geoFenceEnabled || !(FenceAreaInFeet>=10)"
          style="margin:12px 0px;    vertical-align: top;color:white;    display: inline-block; float: right;">
          {{FenceAreaInFeet}}'</ion-label>
      </div>
      <div [hidden]="!geoFenceEnabled">
        <ion-toggle color="primary" [(ngModel)]="geoFenceWithPrivate" (ionChange)="geoFenceEnabledChanged()">
        </ion-toggle>
        <ion-label style="margin: 12px 0px;    vertical-align: top;color:white;    display: inline-block;"> Private Only
        </ion-label>
      </div>

      <div [hidden]="!geoFenceEnabled" style="height: 250px;margin-top: 5px;">
        <app-google-map>
        </app-google-map>
      </div>

      <ion-range [hidden]="!geoFenceEnabled" value="10" min="10" max="100" color="light"
        (ionChange)="FenceAreaChanged(FenceAreaInFeet)" [(ngModel)]="FenceAreaInFeet">
        <ion-label slot="start" color="white">10'</ion-label>
        <ion-label slot="end" color="white">100'</ion-label>
      </ion-range>

      <div class="modalact">
        <span class="pop-action-btn" (click)="OpenfolderIconSelectModel()">Select Icon</span>

        <span class="pop-action-btn" (click)="AddNewFolder(folderName)">Share</span>

        <span class="cancel-btn" (click)="CancelModal()">Cancel</span>
      </div>
    </div>
  </div>


  <ion-fab style="margin-bottom: 15px;" vertical="bottom" horizontal="center" slot="fixed" class="camera-control">

    <ion-fab-button color="light" color="transparent" class="fabicon">
      <i for="camera-file-input-1" class="material-icons no-cam">radio_button_checked</i>
      <input class="file-skin size-60" id="camera-file-input-1" type="file" accept="image/*;capture=camera">
    </ion-fab-button>

  </ion-fab>

  <ion-fab vertical="bottom" style="margin-bottom: 10px;" horizontal="end" slot="fixed">
    <ion-fab-button color="light">
      <ion-icon style="color: #731377; font-size: 1.5rem;" name="log-out-outline"></ion-icon>

    </ion-fab-button>
  </ion-fab>


</ion-content>



<div id="container" class="vid-container">
  <!--     Camera Viewer Video Container -->
  <div id="vid_container" class="video-block">
    <video class="video-item" id="create-folder-video" autoplay playsinline></video>
    <div id="video_overlay"></div>
  </div>
  <!--     All Buttons -->

</div>

<img alt="your-img" [hidden]="!IsWebRTCSupported">