ion-icon {
    &[class*="nearable-"] {
       mask-size: contain;
       mask-position: 50% 50%;
       mask-repeat: no-repeat;
       background: currentColor;
       width: 1em;
       height: 1em;
    }
    &[class*="nearable-add-folder-disabled"] {
       mask-image: url(/assets/icons/menu-icons/disable-state/create-subfolder.png);
    }
    &[class*="nearable-folder-list-disabled"] {
       mask-image: url(/assets/icons/menu-icons/disable-state/open-main-folder.png);
    }
    &[class*="nearable-search-unique-id-disabled"] {
        mask-image: url(/assets/icons/menu-icons/disable-state/unique-id-search.png);
     }

    &[class*="nearable-add-folder"] {
        mask-image: url(/assets/icons/menu-icons/active-state/add-sub-folder.png);
     }
     &[class*="nearable-folder-list"] {
        mask-image: url(/assets/icons/menu-icons/active-state/open-main-folder.png);
     }
     &[class*="nearable-search-unique-id"] {
        mask-image: url(/assets/icons/menu-icons/active-state/search-unique-id-code.png);
     }
 }

 ion-icon {
    &.big {
      width: 50px;
      height: 50px;
    }
  
    &.bigger {
      width: 100px;
      height: 100px;
    }
  
    &.red {
      color: red;
    }
}