<ion-content>

  <div class="cs-popmodal">
    <div class="ps-img"><img src="../assets/gift.png"></div>
    <label>Enter Your Email Address</label>
    <input type="text">

    <div class="ion-padding">
      <ion-button class="pl-btn" type="button" (click)="emailSend()">Send</ion-button>
    </div>
  </div>





</ion-content>