ion-content {
  --background:rgba(000,000,000,.5); 
      z-index: 1000;
}

.cs-popmodal{background: #231b25;
    text-align: center;
    padding: 15px;
    max-width: 300px;
    
    margin: 0px auto;
    margin-top: 27vh;
    height: 267px; color: #fff;}

    .ps-img{text-align: center; padding: 10px;}
.cs-popmodal img{width: 80px;}
.cs-popmodal label{display: block;
    font-size: 0.9rem;
    padding: 8px 0px;}
.cs-popmodal input{background: #fff;
    height: 40px;
    box-sizing: border-box;
    padding: 5px;
    width: 100%;
    border: 0px;
    border-radius: 4px;
    color: #000;}

    .pl-btn{font-size: 1rem;
    width: 70%;
    height: 40px;
    }