ion-content {
    --background: #fff; 
  }

  ion-header ion-toolbar {
    --background: #702f8a; color: #fff;;
  }

 

  .itm-list{margin: 10px;
    padding: 0px; }

    .itm-list li{    padding: 10px;
        list-style: none;
        color: #fff;
        border-bottom: 1px solid #9d66b3;
        min-height: 45px;
        line-height: 27px}

        .selected-folder {background-color:yellow;}
.non-selected-folder {background-color:pink;}

.fllist{text-align: center; padding: 15px;}
.fllist ion-icon{font-size: 57px;
    color: #ffd100;}
    .fllist span{display: block; color: #000000; font-size: 12px; font-weight: bold;   white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;}


  
.image-container{ 
 position: relative;
        height:150px;
        width: 100%;
        overflow: hidden;
        background: #fff;
        padding: 5px;
}
.im-info{padding: 5px 3px;
    font-size: .7rem;}
    .im-info ion-icon{float: right; color: red;}
    .pf-info{margin-top: 7px; color: rgb(25, 11, 151);}
    .pf-info span:nth-child(1){float: left;}
    .pf-info span:nth-child(2){float: right;}
.image-container ion-img{
 width: 100%;
    height: auto;
    overflow: hidden;
}
.fllist.selected {
    border: 2px solid darkgray;
}

