<ion-header>
  <ion-toolbar>
    <ion-title>Select Icon</ion-title>

    <ion-buttons slot="primary">
      <ion-button color="white" (click)="SelectIconAndClose()" [hidden]="isFolderView"
        [disabled]="!SelectedFolder || !SelectedIcon">
        Ok
      </ion-button>
      <ion-button (click)="GoToFolderView()" [hidden]="isFolderView">
        Back
      </ion-button>
      <ion-button (click)="Cancel()" [hidden]="!isFolderView">
        Cancel
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid>
    <ion-row [hidden]="!isFolderView">
      <ion-col size="3" *ngFor="let name of IconfolderNames; index as position">
        <div class="fllist" (click)="GetIconList(name)">
          <ion-icon name="folder-open"></ion-icon>
          <span>{{name}}</span>
        </div>
      </ion-col>
    </ion-row>
    <ion-row [hidden]="isFolderView">
      <h3>{{SelectedFolder}}</h3>
    </ion-row>
    <ion-row [hidden]="isFolderView">

      <ion-col size="3" *ngFor="let name of Icons; index as position">
        <div [class]="SelectedIcon==name?'fllist selected':'fllist'" (click)="SelectIcon(name)">
          <ion-img [src]="'https://nearable.app/map-marker-icons/'+SelectedFolder+'/'+name"></ion-img>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>