ion-content {
 --background: rgba(000,000,000,.9); text-align: center;
 margin-top: 3vh; z-index: 1000;
}
.menu-screen ion-grid{margin-right:.4rem; margin-left: .4rem; margin-top: 2vh;}
.bl-widget{color: #fff;    margin: 2.4vw;}
.bl-icon {
    padding: 5vh 14px;
    font-size: 2.1rem;
}
.bl-txt{    padding: 16px 0px; }
.redblock{background:#e24242}
.blueblock{background: #2685d5;}
.purpblock{background: #a162e4;}
.greenblock{background: #34b08b;}

.redblock .bl-txt{    border-top: 1px solid rgba(000,000,000,.2);}
.blueblock .bl-txt{   border-top: 1px solid rgba(000,000,000,.3);}
.purpblock .bl-txt{   border-top: 1px solid rgba(000,000,000,.3);}
.greenblock .bl-txt{  border-top: 1px solid rgba(000,000,000,.3);}
.vid-container{    position: fixed;
    width: 100%;
    height: 100%; left: 0px;
    top: 0px;}
    .video-block{width: 100%;
    height: 100%;}
    .video-item{    width: 100%;
    height: 100%;
    object-fit: cover;}


  .float-camera{    position: fixed;
    bottom: 9px;
    left: 50%;
    margin-left: -35px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background: #a2a2a2;
    text-align: center;
    line-height: 105px;}

.sharebtn{text-align: center;
    margin: 0px auto;
    width: 155px;}

.ppmodal-skin{    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0px; text-align: initial;}
    .popmodal{      width: 320px;
        padding: 34px 21px;
        background-color:#a162e4;
        margin: 38vh auto 10px;
        box-shadow: 0px 0px 5px 0px #653179; position: absolute;
    z-index: 10000;
    top: 0px;
    left: 50%;
    margin-left: -160px;}

            .modalact{text-align: center; color: #fff;     margin-top: 20px;
                margin-bottom: -10px;  position: relative;}

                .idbar{ background: rgba(255,255,255,.5);
    border-radius: 20px;
    clear: both;
    width: 100%;
    float: left;
    padding: 2px 10px;
    height: 40px;
    font-size: 14px;
    line-height: 36px; padding-left: 20px;}
     .idbar span{float: left;
    width: 78px;
    font-size: 16px;}
      .idbar input{    display: inline-block;
    background: transparent;
    border: transparent;
    float: left;
   
    color: #fff;
    font-size: 16px;
    width: 163px;
    vertical-align: top;
    margin-top: -2px;}
  .popmodal{position: relative;}  
  .popmodal h1{color: #fff; margin-top: 0px;}        
.popmodal ion-icon{position: absolute;
    right: 11px;
    top: 10px;
    color: #bb9cc5;
    width: 31px;
    font-size: 29px;}
    .shbtn{    display: block;
    float: left;
    margin: 0px auto;
    width: 100%;
    margin-top: 10px;
    box-shadow: 0px 0px0px 0px;
    margin-bottom: -10px;     background: #fff;
    color: #6b3184;
    height: 44px;
    font-weight: bold;
    border-radius: 5px;}
.shbar{float: left; margin: 10px; font-size: 13px ; color:#fff;}

    .clearfix::after {
  content: "";
  clear: both;
  display: table;
}

    .modal-wrapper.sc-ion-modal-md{width: 100%;}
    @media only screen and (min-height: 600px) and (min-width: 768px){.sc-ion-modal-md-h{    width: 100%!important;
        --height: 100%;}}