<ion-content class="menu-screen">
  <!-- <div class="main-logo"><img src="../assets/logo.svg"></div> -->
  <div class="logo-alpha"><img src="../assets/logo1.svg"></div>
  <ion-grid>
    <ion-row>
      <ion-col size="6">
        <div class="bl-widget redblock">
          <div class="bl-icon">
            <ion-icon style="width: 50px;height: 50px;" name="compass-outline"></ion-icon>
          </div>
          <div class="bl-txt">
            <span>Live Map</span>
          </div>
        </div>
      </ion-col>
      <ion-col size="6">
        <div class="bl-widget blueblock">
          <div class="bl-icon">
            <ion-icon style="width: 50px;height: 50px;" name="image-outline"></ion-icon>
          </div>
          <div class="bl-txt">
            <span>Gallery</span>
          </div>
        </div>
      </ion-col>

      <ion-col size="6">
        <div class="bl-widget purpblock">
          <div class="bl-icon">
            <img style="width: 50px;height: 50px;" src="assets/add nearby.png" />
          </div>
          <div class="bl-txt">
            <span>Add Nearable</span>
          </div>
        </div>
      </ion-col>
      <ion-col size="6">
        <div class="bl-widget greenblock">
          <div class="bl-icon">
            <img style="width: 50px;height: 50px;" src="assets/joinnearby.png" />
          </div>
          <div class="bl-txt">
            <span>Join a Nearable</span>
          </div>
        </div>
      </ion-col>


    </ion-row>
  </ion-grid>


  <div class="ppmodal-skin">
    <div class="popmodal clearfix">
      <ion-icon style="color:white" name="close-circle" (click)="CancelModal()"></ion-icon>
      <h1>Have Fun.</h1>
      <div class="idbar clearfix">
        <span>Unique ID: </span>
        <input type="text" [(ngModel)]="SharedFolderId" readonly />
      </div>
      <div class="shbar clearfix">Share the above code with friends.</div>
      <div class="sharebtn">
        <ion-button class="shbtn" (click)="shareCode(SharedFolderId)" expand="block" color="black">
          Share
        </ion-button>
      </div>

    </div>
  </div>

  <ion-fab style="margin-bottom: 15px;" vertical="bottom" horizontal="center" slot="fixed" class="camera-control">

    <ion-fab-button color="light" color="transparent" class="fabicon">
      <i for="camera-file-input-1" class="material-icons no-cam">radio_button_checked</i>
      <input class="file-skin size-60" id="camera-file-input-1" type="file" accept="image/*;capture=camera">
    </ion-fab-button>

  </ion-fab>

  <ion-fab vertical="bottom" style="margin-bottom: 10px;" horizontal="end" slot="fixed">
    <ion-fab-button color="light">
      <ion-icon style="color: #731377; font-size: 1.5rem;" name="log-out-outline"></ion-icon>

    </ion-fab-button>
  </ion-fab>

</ion-content>

<div id="container" class="vid-container">
  <!--     Camera Viewer Video Container -->
  <div id="vid_container" class="video-block">
    <video class="video-item" id="create-folder-success" autoplay playsinline></video>
    <div id="video_overlay"></div>
  </div>
  <!--     All Buttons -->

</div>

<img alt="your-img" [hidden]="!IsWebRTCSupported">