<ion-content>

  <div class="cs-popmodal">
    <div class="ps-img"><img src="../assets/password.png"></div>
    <label>Enter a Password to Protect your Geo Gift</label>
    <input type="password" [(ngModel)]="Password">

    <div class="ion-padding">
      <ion-button (click)="SavePassword()" class="pl-btn" type="buttpm">Next</ion-button>
    </div>
  </div>
</ion-content>