<ion-header>
  <ion-toolbar>

    <ion-buttons slot="secondary">
      <ion-button class="hd-upload">
        <img style="width: 22px;" src="../../assets/uploaddevicecamera1.png">
        <input class="hd_fileskin" id="camera-file-input" accept="image/*" type="file" (change)="loadFile($event)">
      </ion-button>
      <ion-button (click)="goToHome()">
        <ion-icon slot="icon-only" name="home"></ion-icon>
      </ion-button>

    </ion-buttons>

    <ion-buttons slot="start">
      <ion-back-button defaultHref="{{IsRegisteredUser?'main/folder':'main/camera-screen-new'}}"></ion-back-button>
    </ion-buttons>
    <ion-title style="text-align: center;">{{currentFolderName}}</ion-title>
  </ion-toolbar>
</ion-header>




<ion-content [fullscreen]="true">
  <ion-row>
    <ion-col *ngFor="let photo of Photos;  index as position" size="6">
      <div class="image-container">
        <ion-img [src]="BaseImagePath+photo.FilePath" (click)="viewImage(BaseImagePath+photo.FilePath)"></ion-img>
        <div class="im-info">
          <div class="usr-image"><img src="{{photo.UserImage}}"></div>
          <div class="tp-1">
            <span style="color: rgb(25, 11, 151)">By: {{photo.UserName}}</span>
            <ion-icon style="display: none;" name="flag"></ion-icon>
          </div>
          <div class="pf-info">
            <span class="ion-text-left">{{photo.ImageUploadTimeStamp}} </span>

            <span class="ion-text-right" style="display: none;"> View Profile</span>
          </div>
        </div>
      </div>
    </ion-col>
  </ion-row>
</ion-content>

<div id="container" class="vid-container">
  <!--     Camera Viewer Video Container -->
  <div id="vid_container" class="video-block">
    <video class="video-item" id="tab-video" autoplay playsinline></video>
    <div id="video_overlay"></div>
  </div>
  <!--     All Buttons -->

</div>

<img alt="your-img" [hidden]="!IsWebRTCSupported">