ion-content {
  --background:transparent; 
  z-index: 1000;
    
}
ion-header{z-index: 1001;}
.vid-container{    position: fixed;
    width: 100%;
    height: 100%; left: 0px;
    top: 0px;}
    .video-block{width: 100%;
    height: 100%;}
    .video-item{    width: 100%;
    height: 100%;
    object-fit: cover;}

.gal-row{ margin-right: 19px;
  margin-left: -10px;
  margin-top: 16px;}
  .gal-row ion-col{margin-bottom: 10px;}
.gal-row ion-img{max-height: 130px; border: 2px solid #ddd;;}
ion-tab-bar{display: none;}

ion-header ion-toolbar {
  --background:#2685d5; color: #fff;;
}
.header-md:after{background-image: none!important;}

.image-container{ 
 position: relative;
        
        width: 100%;
        object-fit: cover;
        overflow: hidden;
        background: #fff;
        padding: 5px;
}
.im-info{padding: 5px 3px;
    font-size: .7rem; position: relative;}
    .im-info ion-icon{float: right; color: red;}
    .pf-info{margin-top: 7px; color: rgb(25, 11, 151);}
    .pf-info span:nth-child(1){float: left;}
    .pf-info span:nth-child(2){float: right;}
    .tp-1{ width: 66%;   white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;}
.image-container ion-img{
 width: 100%;
    height: 190px;
    object-fit: cover;
    overflow: hidden;
}
.usr-image{position: absolute;
    right: -1px;
    top: 5px;}
.usr-image img{width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 2px solid #ccc; }

.hd-upload{position: relative;}
.hd_fileskin{position: absolute;
    width: 26px;
    height: 26px;
    opacity: 0; }


