<ion-header>
  <ion-toolbar>
    <ion-title>AR</ion-title>
    <ion-buttons slot="secondary">
      <ion-select (ionChange)="urlchanged(IframeUrl)" [(ngModel)]="IframeUrl" okText="Okay" cancelText="Dismiss">
        <ion-select-option value="/assets/ar/6.html">Gift 1</ion-select-option>
        <ion-select-option value="/assets/ar/7.html">Gift 2</ion-select-option>
        <ion-select-option value="/assets/ar/8.html">Gift 3</ion-select-option>
      </ion-select>
    </ion-buttons>
  </ion-toolbar>

</ion-header>

<ion-content>

  <iframe [src]="pUrl"></iframe>

</ion-content>