/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";
@import "theme/icons.scss";
* {
    box-sizing: border-box;
}

 .sc-ion-modal-md{background: transparent!important;}

   
ion-fab-button[data-desc]::after {
    position: absolute;
    content: attr(data-desc);
    z-index: 1;
    right: 52px;
    bottom: 4px;
    background-color: #000;
    padding: 9px;
    border-radius: 4px;
    color: white;
    box-shadow: 0 3px 5px -1px rgba(0,0,0,0.2), 0 6px 10px 0 rgba(0,0,0,0.14), 0 1px 18px 0 rgba(0,0,0,0.12);
  }

  
  .float-camera{    position: fixed;
  bottom: 11px;
    left: 50%;
    margin-left: -40px;
    width: 86px;
    height: 86px;
    border-radius: 50%;
   
    text-align: center;
    line-height: 105px;
    cursor: pointer;
    
   
}
.file-skin{position: absolute;
    opacity: 0;
    width: 50px;
    height: 50px; z-index: 1000;}
   .file-skin.size-60{
    width: 60px;
    height: 60px; 
   }
.camera-control ion-fab-button{width: 65px; height: 65px; margin-bottom: -10px;}
.camera-control i{font-size: 75px; color: #fff;}
.material-icons {color: #731377;}
.float-camera i{font-size: 86px; color: #fff;}
.float-camera ion-icon{color: #fefdff;}
  
    .float-camera imion-icon{font-size: 3rem;}

    .fabicon{width: 50px; height: 50px;}
.ppmodal-skin{background: rgba($color: #000000, $alpha: 0.8);}
   
.ppmodal-skin{z-index: 10000;}
.logo-alpha{margin-top: 29px;
}
.logo-alpha img{    width: 56px;}

.popmodal{    border: 3px solid #dddd;}
    @media (prefers-color-scheme: dark){
        .ion-color-light {
            --ion-color-base: #ffffff!important; }
            ion-fab-button button{color: #731377;}
    }