
ion-content {
 --background: rgba(000,000,000,.9); text-align: center;
 margin-top: 3vh;
}

.menu-screen ion-grid{margin-right:.4rem; margin-left: .4rem; margin-top: 2vh;}
.bl-widget{color: #fff;    margin: 2.4vw;}
.bl-icon {
    padding: 5vh 14px;
    font-size: 2.1rem;
}
.bl-txt{    padding: 16px 0px; }
.redblock{background:#e24242}
.blueblock{background: #2685d5;}
.purpblock{background: #a162e4;}
.greenblock{background: #34b08b;}

.redblock .bl-txt{    border-top: 1px solid rgba(000,000,000,.2);}
.blueblock .bl-txt{    border-top: 1px solid rgba(000,000,000,.3);}
.purpblock .bl-txt{    border-top: 1px solid rgba(000,000,000,.3);}
.greenblock .bl-txt{    border-top: 1px solid rgba(000,000,000,.3);}

ion-toggle {
    position: absolute;
   right: 16px;
    top: 34px;
--background: #fff;
    --background-checked: #7030a0;
    --handle-background: #aec3d2;
    --handle-background-checked: #f9f9f9;
}

ion-toggle {
  width: 65px;
  height: 30px;
    --handle-height: 25px;
    --handle-width: 25px;
    --handle-spacing: 3px;
}
/*---------------------------day mode starts here---------------------------------*/
.day-mode{ --background: #f2f2f2; }
.day-mode .camera-control i{color: #7030a0;}
.day-mode .ion-color-light {--ion-color-base:#7030a0!important;}
.day-mode .logout-control ion-icon{color: #fff!important;}