<ion-content [ngClass]="isDayTheme?'menu-screen day-mode': 'menu-screen'">
  <div class="logo-alpha">
    <!-- <img src="../assets/logo1.svg"> -->
    <img src="../assets/logo2.svg">
  </div>


  <ion-toggle [(ngModel)]="isDayTheme" (ionChange)="SaveTheme()"></ion-toggle>


  <ion-grid>
    <ion-row>
      <ion-col size="6">
        <div class="bl-widget redblock" (click)="GoToMapView()">
          <div class="bl-icon">
            <ion-icon style="width: 50px;height: 50px;" name="compass-outline"></ion-icon>
          </div>
          <div class="bl-txt">
            <span>Live Map</span>
          </div>
        </div>
      </ion-col>
      <ion-col size="6">
        <div class="bl-widget blueblock" (click)="GoToMyFolders()" [hidden]=!IsRegisteredUser>
          <div class="bl-icon">
            <ion-icon style="width: 50px;height: 50px;" name="image-outline"></ion-icon>
          </div>
          <div class="bl-txt">
            <span>Gallery</span>
          </div>
        </div>
        <div class="bl-widget blueblock" (click)="GoToGallery()" [hidden]=IsRegisteredUser>
          <div class="bl-icon">
            <ion-icon style="width: 50px;height: 50px;" name="image-outline"></ion-icon>
          </div>
          <div class="bl-txt">
            <span>Gallery</span>
          </div>
        </div>
      </ion-col>

      <ion-col size="6">

        <div class="bl-widget purpblock" (click)="presentAddFolderPrompt()" [hidden]=!IsRegisteredUser>
          <div class="bl-icon">
            <img style="width: 50px;height: 50px;" src="assets/add nearby.png" />
          </div>
          <div class="bl-txt">
            <span>Add Nearable</span>
          </div>
        </div>
      </ion-col>
      <ion-col size="6">

        <div class="bl-widget greenblock" (click)="presentJoinNearbyPrompt()" [hidden]=!IsRegisteredUser>
          <div class="bl-icon">
            <img style="width: 50px;height: 50px;" src="assets/joinnearby.png" />
          </div>
          <div class="bl-txt">
            <span>Join a Nearable</span>
          </div>
        </div>
      </ion-col>


    </ion-row>
  </ion-grid>








  <ion-fab style="margin-bottom: 15px;" vertical="bottom" horizontal="center" slot="fixed" class="camera-control">

    <ion-fab-button color="light" color="transparent" class="fabicon">
      <i for="camera-file-input-1" class="material-icons no-cam">radio_button_checked</i>
      <input class="file-skin size-60" id="camera-file-input-1" type="file" (change)="loadFile($event)"
        accept="image/*;capture=camera">
    </ion-fab-button>

  </ion-fab>

  <ion-fab class="logout-control" vertical="bottom" style="margin-bottom: 10px;" horizontal="end" slot="fixed">
    <ion-fab-button color="light" (click)="Logout()">
      <ion-icon style="color: #731377; font-size: 1.5rem;" name="log-out-outline"></ion-icon>

    </ion-fab-button>
  </ion-fab>
</ion-content>