ion-content {
    --background:tranparent; 
        z-index: 1000;
  }
  ion-segment{
        width: 75%;
    margin: 10px auto;
   
     --color:#fff;
    --background:#2685d5;
  }

  ion-segment-button {
   --color-checked:#2685d5;
  --color:#fff;
}
  ion-segment button{--background: red;}
.vid-container{    position: fixed;
    width: 100%;
    height: 100%; left: 0px;
    top: 0px;}
    .video-block{width: 100%;
    height: 100%;}
    .video-item{    width: 100%;
    height: 100%;
    object-fit: cover;}
  .fl-list{background: transparent;}

  ion-header ion-toolbar {
    --background:#2685d5; color: #fff;
      
  }
  .header-md:after{background-image: none!important;}
  .bell-btn{position: relative;}
.bell-btn img{width: 20px;}
.bell-btn i{    width: 5px;
  height: 5px;
  border-radius: 50%;
  background: red;
  position: absolute;
  right: -4px;
  top: 5px;}

  ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #fff;
    opacity: 1; /* Firefox */
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #fff;;
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
    color: #fff;
  }

.head-search{    
  position: relative;
  margin-top: 5px; margin-bottom: 5px;}
.head-search input{      background: #854a9e;
  color: #fff;
  height: 43px;
  padding: 16px;
  width: 100%;
  border: 0px;
  box-shadow: 0px 0px 2px 0px #70557b;
  border-radius: 5px;}
  .head-search ion-icon{    position: absolute;
    right: 10px;
    font-size: 1.8rem;
    top: 7px;
    opacity: 0.6;}
    .fl-bt-right ion-icon {
   color: #fff; 
    font-size: 1.3rem; width: 24px;
    margin-top: 3px;
    margin-bottom: -3px;
    padding: 0px 4px;
}

  .cs-list{margin: 0px 17px; padding: 0px;}

  .cs-list li{ list-style: none;
    position: relative; float: left ; width: 100%;
    background: #2685d5;
    padding:7px 15px ;
    border-radius: 5px;
    
    margin-bottom: 5px;
   
    margin-top: 5px;}
    .cs-list li ion-label{ display: none;}

    .fl-top{float: left; width: 100%;}
    // .fl-tp-left{float: left;}
    .fl-tp-right{float: left; }
    .fl-tp-right span{ margin-right:10px; width: 60px; height: 60px;
      display: inline-block; overflow: hidden;}

    .th-skin{    margin-right: 62px;
      display: block;
      float: left;}

      .fl-tp-right strong {color: #fff;
    position: absolute;
    right: 30px;
    margin-top: 13px;}
    .fl-tp-right span img{width: 60px; height: 60px; object-fit: cover;     transform: scale(1.2);}
              .fl-bottom{float: left; width: 100%; margin-top: 15px;}   
              
              .fl-bt-left{float: left;}
              .fl-bt-right{float: right;
    margin-top: 23px;
    margin-bottom: -11px;
    margin-right: -6px;}
              .fl-bt-left h2{ color: #fff; margin: 0px; font-size: 1.3rem;}
              
    .action-bar{position: absolute; right: 8px; bottom:8px; top: 21px; }
    .action-bar span{display: block; padding:4px 4px;margin-bottom: 4px;cursor: pointer;}
    .action-bar img{width: 31px;}
    .top-icon{    position: absolute;
        width: 62px;
        height: 62px;
        top: -30px;
        background: #fff;
        left: 50%;
        margin-left: -35px;
        border-radius: 50%; text-align: center;
        line-height: 50px;}
        .top-icon ion-icon{font-size: 1.4rem;}

    .action-bar ion-icon{font-size: 1.3rem; padding: 2px 5px;}

 .info-bar{color:white; margin-top:15px;}
 .info-bar strong{font-weight: normal;}
 .info-bar i{font-style: normal; opacity: .7;}
 .info-bar span{padding-right: 10px;}
 .info-bar strong{    font-size: 13px;
  font-weight: lighter;}
 .info-bar ion-icon{vertical-align: middle; padding-right: 5px;;}
 .fl-bt-right span{display: inline-block; padding: 4px 10px;}
.fl-bt-right span img{width: 22px;}
.up-load-img{position: relative;}
.file_skin{position: absolute;
    width: 31px;
        margin-left: -27px;
    opacity: 0;}
  .fl-list ion-item{ margin: 10px;}
  .img-skin{    width: 85%;
    height: 160px;
    overflow: hidden; display: block;}
  .img-skin img{width: 100%; height: auto; }
  .fl-list .input-wrapper{--ion-padding-start: 15px; --ion-border-radius: 10px;}

  tab{
    background-color: #ce0013;
   }
   ion-tab-button{border-radius: 50%;}
   ion-fab-button[data-desc] {
    position: relative;
  }

  @media (max-width: 767px){
  .fl-tp-right span {
    width: 45px;
    height: 45px;
  }
  .th-skin{margin-right: 30px;
    display: block;
    float: left;}
    .fl-tp-right{    margin-top: 7px;}
    .fl-tp-left img{width: 65px;}



}