<ion-header>
    <ion-toolbar>

        <ion-buttons slot="start">
            <ion-back-button defaultHref="/main/camera-screen-new"></ion-back-button>
        </ion-buttons>

        <!-- <ion-buttons class="bell-btn" slot="secondary">
            <ion-button>
                <i></i>
                <img src="../../assets/bell.svg">
            </ion-button>

        </ion-buttons> -->

        <div class="head-search">
            <ion-searchbar [(ngModel)]="SearchKeyword"
                (ionChange)="folderService.SearchFolder(SearchKeyword, isArchived, isShared)"
                (ionCancel)="folderService.SearchFolder(SearchKeyword, isArchived, isShared)">
            </ion-searchbar>
        </div>
    </ion-toolbar>
    <ion-segment mode="ios" (ionChange)="folderFilter($event.detail.value)" value="all">
        <ion-segment-button value="all">
            All
        </ion-segment-button>
        <ion-segment-button value="archived">
            Archived
        </ion-segment-button>
        <ion-segment-button value="sharedOnly">
            Shared
        </ion-segment-button>
    </ion-segment>
</ion-header>


<ion-content class="folder-listpage">

    <ul class="cs-list">
        <li size="12"
            *ngFor="let folder of folderService.SearchFolder(SearchKeyword, isArchived, isShared); index as position">
            <div class="fl-top" (click)="ViewGallery(folder)">
                <!-- <div class="fl-tp-left">
                    <img src="../../assets/c-folder.svg">
                </div> -->
                <div class="fl-tp-right">
                    <div class="th-skin">

                        <span *ngFor="let img of folder.TopImages; index as position"><img
                                src="{{folderService.BasePath+img}}"></span>
                    </div>
                    <strong>{{folderService.GetTotalImages(folder)}}</strong>
                </div>
            </div>
            <div class="fl-bottom">
                <div class="fl-bt-left" (click)="ViewGallery(folder)">
                    <h2>{{ folder.Name}}</h2>
                    <div class="info-bar">
                        <span>
                            <ion-icon name="time-outline"></ion-icon> <small>{{folder.ModifiedDate}}</small>
                        </span>
                        <strong [hidden]="folderService.IsCurrentUserAuthor(folder)"><i>Shared by : </i>
                            {{folder.AuthorName}}</strong>
                    </div>
                </div>
                <div class="fl-bt-right" [hidden]="!folderService.IsCurrentUserAuthor(folder)">

                    <span class="up-load-img">
                        <img src="../../assets/uploaddevicecamera1.png">
                        <input class="file_skin" id="camera-file-input" (change)="loadFile($event, folder)" type="file"
                            accept="image/*">
                    </span>

                    <ion-icon style="font-size: 14px;" [hidden]=folderService.isFolderAchived(folder)
                        (click)="markArchived(folder)" size="large" name="trash"></ion-icon>

                    <ion-icon style="font-size: 1.7rem;" (click)="ShowOptions(folder)" name="share-social"></ion-icon>

                </div>
            </div>
        </li>
    </ul>
</ion-content>

<div id="container" class="vid-container">
    <!--     Camera Viewer Video Container -->
    <div id="vid_container" class="video-block">
        <video class="video-item" id="folder-video" autoplay playsinline></video>
        <div id="video_overlay"></div>
    </div>
    <!--     All Buttons -->

</div>

<img alt="your-img" [hidden]="!IsWebRTCSupported">